parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    tmpDir: build/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            identifier: method.notFound
            paths:
                - tests/*
        -
            identifier: notIdentical.alwaysTrue
            paths:
                - src/Response/SwottoResponse.php
        -
            identifier: method.alreadyNarrowedType
            paths:
                - tests/*
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - src
        - tests
    scanFiles: []
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
